body{
  padding: 0;
  margin: 0;
}
.login-container1{
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
}
.Img-container1{
      padding: 0;
      margin: 0;
      height: 100vh;
      width:50vw;
      flex-direction: row;
      background-image: url('Image.png');
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
}
.Img-container1 h1{
    padding:0;
    margin:0;
    color:white;
    font-family: 'Poppins';
    font-size: 50px;
    margin-left: 50px;
    line-height: 91.6px;
}

.Form-container1{
  width:50%;
  display:flex;
  align-items:center;
  justify-content: center;
}
.Form-entries1 h2{
  color:#494F7A;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2em;
}
.Form-entries1 label{
  color: black;
  font-family: 'Poppins';
}
.Form-entries1 input{
  width:50vh;
  padding:16px ;
  font-family: 'Poppins';
  border:none;
}
.Form-entries1 button{
  width: 65vh;
  color:white;
  background-color: #494F7A;
  padding:16px;
  border: 2px solid lightgray;
  border-radius: 6px;
  font-family: 'Poppins';
}
.Form-entries1 button:hover{
   background-color: #525677;
}

p{
  color: red;
}